.right-panel {
  background: #00282b1c;
  padding: 20px;
  flex: 0.9;
  height: 100%;
}
.user-account-details-cards {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.dashboard .dashboard-header strong {
  color: rgba(87, 86, 86, 0.774);
}

.user-account-details-cards .card {
  background: #fff;
  padding: 20px 60px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
  margin-bottom: 30px;
}
.user-account-details-cards .card.income h5 {
  color: blue;
}
.user-account-details-cards .card.expense h5 {
  color: crimson;
}
.user-account-details-cards .card.balance h5 {
  color: green;
}
.user-account-details-cards .card.transaction h5 {
  color: rgb(47, 188, 235);
}

.total-expenses {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #ccc;
  margin-bottom: 20px;
}
.total-expenses .expenses-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.total-expenses .expenses-header .sorting-div {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-weight: 700;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #ccc;
}
.expenses-details {
  align-items: center;
  margin-top: 20px;
}
.transactions-history {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.transactions-history .transaction-point {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  /* background: crimson; */
}

.list {
  list-style-type: none;
  padding: 0;
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  border-bottom: 1px solid #333;
  transition: 0.5s ease;
}

.list li.plus {
  border-right: 5px solid #2ecc71;
}

.list li.minus {
  border-right: 5px solid crimson;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}
.list li:hover {
  margin-left: 20px;
  width: 95%;
}
.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
}

@media (max-width: 767px) {
  .user-account-details-cards {
    flex-direction: column;
  }
  .right-panel {
    flex: 1;
  }
}
